---
import Logo from "@/components/Logo.astro";
import DropdownMenu from "@/components/ui/DropdownMenu";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zys Dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-zinc-950 text-zinc-50">
    <header class="fixed inset-x-0 top-6 w-full px-2">
      <div
        class="mx-auto max-w-3xl rounded-3xl bg-zinc-800/25 px-6 py-4 shadow backdrop-blur"
      >
        <nav class="flex items-center justify-between">
          <a href="/">
            <Logo class="h-auto w-16" />
            <span class="sr-only">logo</span>
          </a>
          <DropdownMenu client:load />
        </nav>
      </div>
    </header>
    <main class="py-48">
      <section class="mx-auto max-w-3xl px-6">
        <h1 class="text-lg font-medium italic">Nepangkeun</h1>
        <p class="mt-6 text-balance">
          Zys Dev, aka <span class="text-zinc-400">Ajis Maulana</span> here.
          Celestial Codecraft, A Space Enthusiast Programmer.
        </p>
        <blockquote class="mt-6 text-balance">
          "Where the lines of a programmer's code intertwine with the cosmic
          tapestry, and the heart of an astrophile beats in harmony with the
          rhythms of the universe."
        </blockquote>
      </section>
    </main>
  </body>
</html>

<style is:global>
  body {
    font-family: "Inter", sans-serif;
  }
</style>
